/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1f66bf 15%, #140032 80%)

}
body {
  color: #ffa518; //orange text
  text-align: center;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
}
body {
  padding-top: 70px;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 2rem;
}


/*
 * Header
 */

.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin: 0 0 0 0px;
  font-family: 'Lobster', cursive;

}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: #ffd235; //Nav links yellow color
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255,255,255,.25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #ffa518;//orange text for selected
  border-bottom-color: rgba(255,255,255,.25);
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */

.mastfoot {
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 40em) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }

  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }

  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 62em) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 42rem;
  }
}

.fake-class {
  color: blue;
}


/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 20%;
  margin: 0 0 0 20px;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 0;
  line-height: 60px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #ffa518;
  font-family: 'Open Sans', sans-serif;
  background: rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid black;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.5);
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
  height: 65px;
  font-size: 20px;
  line-height: 60px;
  font-family: 'Open Sans', sans-serif;
}

.sidebar-nav>.sidebar-brand a {
  color: #ffa518;
}

.sidebar-nav>.sidebar-brand a:hover {
  color: #fff;
  background: none;
}


/* Sidebar search */

.input-group {
  padding: 20px 20px;
}

.btn-default {
  font-size: 16px;
  padding: 5px;
  background-color: #ffd235;
}


.btn-default:hover {
  font-size: 16px;
  padding: 5px;
  background-color: white;
}


.form-control {
  background-color: white;
  border-color: grey;
}

//site logo

.logo {
  width: 10%;
  height: 10%;
}

